body,html{
    height: 100%;
    margin:0 auto;
}   
.section1{
    background: url(../img/maxresdefault.jpg);
    width: 100%;
    height: 100%;
    text-align: center
}
.judul{
    font-family: bebas;
    font-size: 70px;
    color: darkred;
    border: solid 2px black;
}.sub-judul{
    font-family: century gothic;
    font-size: 40px;
    color: black;
}
.section2{
    background: white;
    padding:40px 10px;
    color:aqua;
    font-size: 25px;
}
